{% if case is 0 %}
<span>You don't have a team or pending recommendations. <a href="">Create</a> a team or ask someone to invite you to join their team.</span>
{% endif %}
{% if tm is None %}
<span>You don't have a team or pending recommendations. <a href="">Create</a> a team or ask someone to invite you to join their team.</span>
{% endif %}
{% if tm is None %}
<span>You don't have a team or pending recommendations. <a href="">Create</a> a team or ask someone to invite you to join their team.</span>
{% endif %}
