{% extends "dash/dash.html" %}

{% block body %}
    
    <div class="dash-head">
        <h1 style="text-transform: capitalize;">Accounts</h1>
    </div>

    <div class="accounts-container three-column" style="grid-area: body">
      <div class="listing" style="grid-area: main">
        {% for u in users %}
        <div class="eventItem2" id = "{{ '%04d' % u.vid }}">
          <div class="eventmeta"> {{ '%03d' % u.vid }} </div>
          <div class ="eventdata">
            <span class = "talkHead">{{ u.fname }} {{ u.lname }}</span><br>
            <span class="meta"> {{ u.email }} </span></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
{% endblock %}
