{% extends "dash/dash.html" %}

{% block body %}
    <style>
      * {
        margin:0;
        box-sizing: border-box;
      }
      body{
        font-family: 'Source Sans Pro', sans-serif;
      }
      .dash-container{
        grid-area: body;
        margin: 0 auto;
        width: 100%;
        max-width: 2100px;
        display: grid;
        justify-content: center;
        align-items: center;
      }
      .dash-content{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: "one two";
        width: 80vw;
        height: 50vh;
      }
      .meta-data, .registered{
        display: grid;
        justify-content: center;
        align-items: center;
        height: 50%;
      }
      .meta-data{
        grid-area: one;
        line-height: 165%;
        font-size: 20px;
      }
      .registered{
        grid-area: two;
      }
    </style>

    <div class="dash-container">
      <div class="dash-content">
        <div class="meta-data">
          {{ user.data.fname }} {{user.data.lname}} <br>
          V19{{ '%04d' % user.data.vid }}
        </div>
        <div class="registered">
          Registered events
        </div>
      </div>    
    </div>
    
  </body>
{% endblock %}