<title>Dashboard | Vidyut</title>
{% extends "dash/dash.html" %}

{% block body %}
<link rel="stylesheet" href="/static/css/dash/attendee_dash.css">
    <div class="dash-container">
      <div class="dash-content">
        <div class="dash-meta-data">
          <div>
              <img src="/static/QR/{{user.data.vid}}.png">
              <h1>{{ user.data.fname }} {{user.data.lname}}</h1><br>
              <h3>V19{{ '%04d' % user.data.vid }}</h3>
          </div>
        </div>
        <div class="registered">
          Registered events
        </div>
      </div>    
    </div>
    
  </body>
{% endblock %}