<title>Dashboard | Vidyut</title>
<script src="/static/js/login.js"></script>
{% extends "dash/dash.html" %}

{% block body %}
<link rel="stylesheet" href="/static/css/dash/attendee_dash.css">
    <div class="dash-container">
      <div class="dash-content">
        <div class="dash-meta-data">
          <div>
              <img src="https://devhub.amblygon.org/static/QR/{{user.data.vid}}.png">
              <h1>{{ user.data.fname }} {% if user.data.lname %} {{user.data.lname}} {% endif %}</h1><br>
              <h2>{{ user.data.email }}</h2><br>
              <h2>V19{{ '%04d' % user.data.vid }}</h2>
              <!-- <img src="{{ user.data.ppic}}" style="height:100px"> -->
          </div>
        </div>
        <div class="registered">
          <div>
              <div style="margin-top:10; margin-left: 20 ">
                <h2>Registered Workshops</h2>
                {% for i in workshops %}
                <div class="eventItem2" >
                    <div class="eventmeta"> {{ loop.index }} </div>
                    <div class ="eventdata">
                         <span class = "talkHead">{{ i.get('title') }}</span><br>
                         <span class="meta"> Rs. {{ i.get('fee') }} - {{ i.get('registime') }} - Reg No. {{ i.get('regid') }}</span>
                    </div>
                    <div class="eventdelete" ><a href="/workshops/{{ i.get('eid')}}"><img src="/static/images/icons/focus.svg" height="25px"></a></div>
                  </div>
                {% endfor %}
              </div>
              <div style="margin-top:10; margin-left: 20">
                <h2>Registered Contests</h2>
                {% for i in contests %}
                <div class="eventItem2" >
                    <div class="eventmeta"> {{ loop.index }} </div>
                    <div class ="eventdata">
                        <span class = "talkHead">{{ i.get('title') }}</span><br>
                        <span class="meta"> Rs. {{ i.get('fee') }} - {{ i.get('registime') }} - Reg No. {{ i.get('regid') }}</span>
                    </div>
                    <div class="eventdelete" ><a href="/contests/{{ i.get('eid')}}"><img src="/static/images/icons/focus.svg" height="25px"></a></div>
                </div>
                {% endfor %}
              </div>
              <div style="margin-top:10; margin-left: 20">
                <h2>Purchased Addons</h2>
                {% for i in purchases %}
                <div class="eventItem2" >
                    <div class="eventmeta"> {{ loop.index }} </div>
                    <div class ="eventdata">
                        <span class = "talkHead">{{ i.get('purchase') }} ({{ i.get('qty') }})</span><br>
                        <span class="meta"> Rs. {{ i.get('total') }} - {{ i.get('purtime') }} - Purchase No. {{ i.get('pid') }}</span>
                    </div>
                </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $('.dash-profile').empty();
        $('.dash-profile').append('<input type="submit" class="logout" value="Logout">');
        $('.logout').click(function() {
          console.log("TESTING");
          revokeAccess();
        });
      })

      // $.getJSON("/events/data/registered/", function(data) {
      //   console.log(data);
      //   $.each(data, function(key, value) {
      //     var large = '<p>'+value.title+'</p>';
      //     if(value.cat == 1)
      //       $(".registered-workshops").append(large);
      //     else
      //     $(".registered-events").append(large);
      //   });
      // });
    </script>
  </body>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
{% endblock %}
