{% extends "dash/dash.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/dash/hack.css">
{% endblock %}

{% block body %}
    <div class="d-jumbotron">
      <div class="d-j-one">
        <h1>Good {{ greeting }}, {{ user.fname }}!</h1>
        <span>Have a great Hacking season with Vidyut's flash Hackathons.</span>
      </div>
      <div class="d-j-team">
      {{ team }}
      </div>
    </div>
    <div class="d-j-notif">
      <span>Please submit your feedback <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=D4lULeMYcEyXzbweXyH5ywE-sQ3bOvJJp--B-A0d-ihURVNJVlgzUlhJQUtHQ0tFUTczSEpDRDVDTSQlQCN0PWcu">here</a></span>
      <span>Get the leaderboard <a href="/hack/leaderboard">here</a></span>
      <span>Submit your project (Github repo link) <a href="/hack/submission">here</a></span>
    </div>
    <div class="a">
      <div class="d-h-box">
        <div class="d-h-b-i">
          <h2><p id="ct"></p></h2>
        </div>
      </div>
      <div class="d-h-box2">
        <div class="ps">
          <h6>QUESTION 1</h6>
          <p>A company's  travel desk has a fleet of cars for 3 destinations which operate between three office and two airports.
  Build a company's system for travel desk which will take care of picking / droping guests and clubing people together for journeys efficiently
  (not for the user but the company only, something like a car pool system, the system must be accessed/managed by the company's transport department)</p>
        </div>
        <br>
        <div class="ps">
          <h6>QUESTION 2</h6>
          <p>Event management at Amritapuri Campus. Complete 360 degree working (from the start / registration to end / certificates. You can come up with innovative features).</p>
        </div>
        <br>
        <div class="ps">
          <h6>QUESTION 3</h6>
          <p>The mail room problem. You know how our parcel delivery is handled using hand records. Come up with an innovative / efficient automation for the same.
  (could includes things like informing the student when a parcel has arrived).</p>
        </div>
        <br>
      </div>
    </div>
    <div class="d-ext">
    </div>
    </div>

    <script>
    // Set the date we're counting down to
    var countDownDate = new Date("Jan 15, 2019 20:30:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get todays date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("ct").innerHTML = ("0" + hours).slice(-2) + " : "
      + ("0" + minutes).slice(-2) + " : " + ("0" + seconds).slice(-2);

      if (distance < 0) {
        clearInterval(x);
        document.getElementById("ct").innerHTML = "The testing has begun";
      }
    }, 1000);
</script>
{% endblock %}
