<title>Purchases | Vidyut</title>
{% extends "dash/dash.html" %}

{% block body %}

    <div class="dash-head">
        <h1 style="text-transform: capitalize;">Purchases</h1>
        <!-- <h2 style="text-transform: capitalize;">: {{ stat.get('count') }}</h2>
        <h2 style="text-transform: capitalize;">Total sales: {{ stat.get('count') }}</h2> -->
    </div>

    <div class="accounts-container three-column" style="grid-area: body">
      <div class="listing" style="grid-area: main">
        <div class="dash-stats" style="margin-left: 40px; padding-right: 40px;">
          <h1>Total sales: &#8377;{{ stat.get('count') }}</h1>
          <h2 style="margin-top: 20px; margin-bottom: 10px;">T-Shirt sizes count</h2>
          <div style="margin-left: 20px;">
              <p>S: {{ stat.get('scount') }}</p>
              <p>M: {{ stat.get('mcount') }}</p>
              <p>L: {{ stat.get('lcount') }}</p>
              <p>XL: {{ stat.get('xlcount') }}</p>
              <p>XXL: {{ stat.get('xxlcount') }}</p>
              <p>Total T-Shirts: {{ stat.get('tshirt') }}</p>
          </div>
          <h2 style="margin-top: 20px; margin-bottom: 10px;">Transcations Done</h2>
          <div style="margin-left: 20px; margin-bottom: 20px;">
              <p>Amritapuri: Proshow + Choreonite + Fashionshow: {{ stat.get('pid1') }}</p>
              <p>Outstation: Proshow + Choreonite + Fashionshow: {{ stat.get('pid2') }}</p>
              <p>General: Headbangers + Choreonite + Fashionshow: {{ stat.get('pid3') }}</p>
              <p>Choreonite + Fashionshow: {{ stat.get('pid4') }}</p>
              <p>T-Shirt: {{ stat.get('pid5') }}</p>
              <p>Amritapuri: All Tickets + T-Shirt: {{ stat.get('pid6') }}</p>
              <p>Outstation: All Tickets + T-Shirt: {{ stat.get('pid7') }}</p>
              <p>General: Headbangers + Choreonite + Fashionshow + T-Shirt: {{ stat.get('pid8') }}</p>
          </div>
          <h2 style="margin-top: 20px; margin-bottom: 10px;">Tickets sold</h2>
          <div style="margin-left: 20px; margin-bottom: 20px;">
              <p>Proshow: {{ stat.get('proshow') }} includes {{stat.get('headbangers')}} Headbangers</p>
              <p>Fashionshow: {{ stat.get('fashionshow') }}</p>
              <p>Choreonite: {{ stat.get('choreonite') }}</p>
          </div>
        </div>
        {% for i in purchases %}
        <div class="eventItem2" id = "{{ '%04d' % i.get('vid') }}">
            <div class="eventmeta"> {{ '%03d' % i.get('purid') }} </div>
            <div class ="eventdata">
                <span class = "talkHead">{{ '%04d' % i.get('vid') }} : {{ i.get('purchase') }} ({{ i.get('qty') }})</span><br>
                <span class="meta"> Rs. {{ i.get('total') }} - {{ i.get('message') }} - {{ i.get('purtime') }}</span></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
{% endblock %}
