<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vidyut Switch | Volunteer Dash</title>
   <link rel="stylesheet" href="/static/css/dash/style.css">
   {% block head %}
   {% endblock %}
</head>
<body>

  <div class="header">
    <div class="header-a">
      <a href="">Vidyut</a>
    </div>
  </div>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
