<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Registration | Vidyut</title>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/static/js/mobile-check.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Source+Sans+Pro" rel="stylesheet">
    <link href="https://cloud.typenetwork.com/projects/3030/fontface.css/" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/fonts/fonts.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '948746865211909');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=948746865211909&ev=PageView&noscript=1"
  /></noscript>
  
  </head>
  <body>
    <div class = "container">

<link rel="stylesheet" href="/static/css/education.css">

<div class ="form-container-full" style="min-height: 100vh;">
  
  <form class="st-form" novalidate>

    <h1>Delivery Dashboard</h1>
    
    <div class="float-label" id="div-level">
      <input id="vid" name="vid" autocomplete="off" required type="text">
      <label for="vid">VID of student</label>
    </div>
    <style>
        .item{
            margin: 20px;
        }
    </style>
    <div class="vid-meta"></div>
    <div class = "items">
    </div>

  </form>

</div>
<style>
  #div-event{
    display: none;
  }
  .cat-dropdown{
    height: 84px;
    max-width: 450px; 
  }
  .event-dropdown{
    margin-top: 62px;
    margin-left: -2px;
    width: 450px;
    max-width: 500px;
  }
</style>

<script>
  
  $(document).ready(function(){

    var product = ['Amritapuri: Proshow + Fashionshow + Choreonite', 'Outstation: Proshow + Fashionshow + Choreonite', 'General: Headbangers + Choreonite + Fashionshow', 'Choreonite + Fashionshow', 'T-Shirt', 'Amritapuri: All Tickets + T-Shirt', 'Outstation: All Tickets + T-Shirt', 'General: Headbangers + Choreonite + Fashionshow + T-Shirt']
    $('#vid').focusout(function(){
      vid = parseInt($('#vid').val());
      $('.vid-meta, .items').empty(); 
      $.getJSON("/farer/meta/user?m="+vid, function(data) {
        if(data.message != "Internal Server Error")
          $('.vid-meta').append('<b><p>'+data.fname+' '+data.lname+'</p><p>'+data.email+'</p></b>')
        else
          $('.vid-meta').append('<b><p>User not found</p></b>')
      });

      $.getJSON("/dash/delivery/data/"+vid, function(data) {
        console.log(data);
        $.each(data, function(key, value) {
            console.log(value);
            large = '<br><div class="item" id="'+value.purid+'">' + product[value.pid - 1] +' ('+value.qty+')';
            shirt = '<br>S Count = ' + value.scount + "<br> M count = " + value.mcount + "<br> L Count = " + value.lcount + "<br> XL Count = " + value.xlcount + "<br> XXL Count = " +value.xxlcount+ "<br>";
            button = '<br><br> <input type="submit" style="width: 200px" value="Deliver" class="d-tickets"></div>';
            large = large + shirt + button + '<div class="status'+value.purid+'"></div>'
            $(".items").append(large);
        });

        $('.d-tickets').click(function(e){
          var did = $(this).parent().attr('id');
          console.log("Processing delete request for " + did);
          $.ajax({
            type: "POST",
            data: {
              purid: did
            },
            url: "/dash/delivery/all/"+vid,
            success: function(result) {
              console.log(result);
              st = '.status' + did;
              if(result.status == 'success')
                $(st).append('<b style="color: green">'+result.message +'</b>');
              else
                $(st).append('<b style="color: red">'+result.message +'</b>');
            }
          });
          e.preventDefault();
        });

    });
  });
  });

</script>
</body>
</html>