<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Registration | Vidyut</title>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/static/js/mobile-check.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Source+Sans+Pro" rel="stylesheet">
    <link href="https://cloud.typenetwork.com/projects/3030/fontface.css/" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/fonts/fonts.css">
    <link rel="stylesheet" href="/static/css/form.css">
  </head>
  <body class="noscroll">
    <div class = "container">

<link rel="stylesheet" href="/static/css/education.css">

<div class ="form-container-full" style="height: 100vh;">
  
  <form class="st-form" novalidate>

    <h1>Registration Dashboard</h1>
    
    <div class="float-label" id="div-level">
      <input id="vid" name="vid" autocomplete="off" required type="text">
      <label for="vid">VID of student</label>
    </div>
    <div class="vid-meta"></div>

    <div style="margin-top: 20px; margin-bottom: 20px;" id="div-cat">
      <div class="cat drop">
        <label class="cat-choose" style="position: static;">Category</label>
      </div>
      <div class="dropdown cat-dropdown">
        <a id="1">Workshops</a>
        <a id="2">Contests</a>
      </div>
    </div> 
    
    <div class="float-label" style="margin-top: 20px; margin-bottom: 20px;" id="div-event">
        <div class="dropdown event-dropdown">
        </div>
       <input id="event" name="event" autocomplete="off" required type="text">
       <label for="event">Event</label>
    </div>

    <div class="pricing"></div>
    <div class="confirmation" style="margin-top: 20px;"></div>
    
    <div class = "action-button">
      <input id="submit" type="submit" name="submit" value="Proceed">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" class = "loading" height="35px" viewBox="0 0 100 100"><defs><style>.cls-1{fill:none;stroke:#0277BD;stroke-miterlimit:10;stroke-width:10px;}</style></defs><title>loading-b</title><path class="cls-1" d="M48.13,6.5761A43.4641,43.4641,0,1,1,6.5761,51.87"><animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 50 50" to="360 50 50" dur="1s" repeatCount="indefinite"/></path></svg>
    </div>

    <div class = "message" style="display: none; margin-top: 20px;"></div>

  </form>

</div>
<style>
  #div-event{
    display: none;
  }
  .cat-dropdown{
    height: 84px;
    max-width: 450px; 
  }
  .event-dropdown{
    margin-top: 62px;
    margin-left: -2px;
    width: 450px;
    max-width: 500px;
  }
</style>
<script>
  
  $(document).ready(function(){

    var confirmation = 0;

    var cat, event;
    
    $('.cat').click(function(){
      $('.cat-dropdown').addClass("show-dropdown");
      $(".event-dropdown").removeClass("show-dropdown");
    });

    $('.cat-dropdown a').click(function(){
      
      cat = $(this).attr('id');
      
      $('.cat label').html($(this).text());
      $('.cat-choose').css('opacity', '1');
      $('.cat-choose').css('color', '#000');  
      $(".cat-dropdown").removeClass("show-dropdown");
      
      $('#div-event label').html("Events");
      $(".pricing").empty();

      var eventname;
      if(cat == 2)
        eventname = "contests"
      else
        eventname = "workshops"

      $(".event-dropdown").empty();

      $.getJSON("/events/data/"+eventname+"/", function(data) {
        console.log(data);
        $.each(data, function(key, value) {
          var large = '<a id="'+value.id+'">'+value.title+'</a>';
          if(eventname == "workshops"){
            if(value.rmseats > 0)
              $(".event-dropdown").append(large);
          }
          else{
            $(".event-dropdown").append(large);
          }
        });
        
        $('#div-event').css('display', 'block');

        $('#event').keyup(function(){
      
          filter = $("#event").val().toUpperCase();
          
          $('.event-dropdown').find('a').each(function(){
              if($(this).text().toUpperCase().indexOf(filter) > -1 || $(this).attr('id') == 0)
                $(this).css('display','')
              else
                $(this).css('display','none');
          });

        });

        $('.event-dropdown a').click(function(){
          event = $(this).attr('id');
          
          $('#div-event label').html($(this).text());
          $('#div-event label').css('opacity', '1');
          $('#div-event label').css('color', '#000');  
          $(".event-dropdown").removeClass("show-dropdown");
          
          $(".pricing").empty();

          $.getJSON("/events/data/"+eventname+"/"+event, function(data) {
            $('.pricing').append('<p>Fee : &#8377;' + data.fee + '</p>');
          });
        });
      
      });
    });

    $('#event').focusin(function(){
      $('.event-dropdown').addClass("show-dropdown");
      $(".cat-dropdown").removeClass("show-dropdown");
    });

    $('#vid').focusout(function(){
      $.getJSON("/farer/meta/user?m="+parseInt($('#vid').val()), function(data) {
        $('.vid-meta').empty();
        if(data.message != "Internal Server Error")
          $('.vid-meta').append('<b><p>'+data.fname+' '+data.lname+'</p><p>'+data.email+'</p></b>')
        else
          $('.vid-meta').append('<b><p>User not found</p></b>')
      });
    });

    $('#submit').click(function(e){

      if(confirmation == 0){
        confirmation++;
        $('.confirmation').append('<p style="color: red">Click proceed again to confirm.</p>');
        e.preventDefault();
      }
      else{
        $('.confirmation').empty();

        $('.loading').css('visibility', 'visible');
        $('.message').empty();

        console.log("Posting details form");

        $.ajax({
          type: "POST",
          url: "/dash/registration/add/",
          data:{ 
            csrf_token: "{{ form.csrf_token._value() }}",
            vid: parseInt($('#vid').val()),
            cat: cat,
            eid: event,
          },
          success: function(data){

            $('.loading').css('visibility', 'hidden');

            console.log("Return value = " + data.message);

            if(data.status != "success"){
              console.log("Registration failed")
              $('.message').append('<p style="color: red">'+data.message+'</p>');
            }
            else{
              $('.message').append('<p style="color: green">'+data.message+'</p>');
              console.log("Registered successfully");
            }

            $('.message').css('display', 'block');
            $('.message').append('<a href="/dash/registration/add/" style="color:blue;">Register new user</a>');
          }

        });

        e.preventDefault();
      }
    
    });

    $('body').click(function(e){
      if($(e.target).closest('#div-cat').length)
        return;
      if($(e.target).closest('#event').length)
        return;  
      $(".cat-dropdown").removeClass("show-dropdown");
    })

  });

</script>
</body>
</html>