* {
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif; 
}

.workshopContainer{
	margin-left: 30px;
	padding-top: 100px;
}

.heading{
	display: block;
	font-size: 20px;
}

.filter{
	position: absolute;
	font-size: 20px;
	top: 100px;
	right: 33px;
}
.login{
	right: 33px;
	font-size: 12px;
	padding: 3px 12px;
}
.gridContainer{
	margin-top: 30px;
	margin-right: 34px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;  
}

.workshopItem{
	height: 50vh;
	/*background-color: #4832f0;*/
	cursor: pointer;
	display: grid;
	grid-template-rows: 70% 30%;
	grid-template-columns: 100%; 
	grid-template-areas: 
	"image"
	"details";
}
.w-t-image{
	grid-area: image;
}

.filter{
	cursor: pointer;
}
.filter svg{
	cursor: pointer;
	margin-top: 10px;
	margin-left: 5px;
	float: right;
}

.filter-drop-down{
	position: absolute;
	margin-top: -5px;
	height: 140px;
	width: 120px;
	z-index: 11;

	display: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.filter-drop-down.open{
	display: block;
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.filter-drop-down ul{
	list-style: none;
	background: #E3E1DC;
	border-top: 3px solid #696866;
	padding: 0px;
	margin-top: 5px;
	font-size: 18px;
	margin-bottom: 5px;
}

.filter-drop-down ul li{
	padding: 5px;
}

.filter-drop-down ul li:hover{
	background: #696866;
	cursor: pointer;
}

.filter-drop-down ul a li{
	cursor: pointer;
}

.heading,
.w-t-description h1{
	font-size: 20px;
	font-weight: 400;
	text-transform: capitalize;
}

.w-t-description h1{
	/* font-family: Neue Haas Grotesk Text Pro Bold; */
	font-weight: bold;
}

@media only screen and (min-width: 550px) {
	.login{
		right: 46px;
	}
	.filter{
		right: 46px;
	}
	.gridContainer{
		margin-right: 48px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 768px) {
	.filter svg{
		margin-top: 15px;
	}
	.filter-drop-down{
		position: absolute;
		margin-top: -5px;
		width: 155px;
	}
	.login{
		right: 56px;
		font-size: 16px;
		padding: 4px 15px;
	}
	.heading, .filter{
		font-size: 28px;
	}
	.workshopContainer{
		margin-left: 58px;
	}
    .gridContainer{
		margin-right: 58px;
		grid-template-columns: repeat(3, 1fr);
	}
	.workshopItem{
		height: 35vw;
	}
	.filter{
		right: 56px;
	}
}

@media only screen and (min-width: 1000px){
	.login{
		right: 66px;
	}
	.filter{
		right: 66px;
	}
    .gridContainer{
		margin-top: 30px;
		margin-right: 68px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.workshopItem{
		height: 25vw;
	}
}