<!Doctype HTML>
<html>
<head>
  <title>Accounts - Vidyut</title>
  <meta name="google-signin-client_id" content="727153101463-jhpcopij2mcb7n1d5db4i1ka03mfl466.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
    function aclogout() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
      window.location.assign("https://google.com");
    }
  </script>
<body onload="aclogout()">
  <p>Logging out</p>
</body>
</html>
