* {
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.dash-container{
    grid-area: body;
    margin: 0 auto;
    width: 100%;
}
.dash-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "one"
    "two";
}
.dash-meta-data, .registered{
    display: grid;
    align-items: center;
    height: 100%;
}
.dash-meta-data{
    justify-content: center;
    grid-area: one;
    line-height: 100%;
}
.dash-meta-data img{
    height: 250px; 
}

.dash-welcome{
    grid-area: three;
}
.registered{
    grid-area: two;
    justify-content: center;
}

.logout{
    background: transparent;
    color: #000;
    border: 3px solid #000;
    right: 20px;
    font-size: 10px;
    padding: 2px 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

@media only screen and (min-width: 768px) {
    .dash-container{
        max-width: 2100px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .dash-content{
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: "one two";
        width: 80vw;
        height: 100%;
    }
    .dash-meta-data img{
        height: 450px; 
    }
    .dash-meta-data h1, .dash-meta-data h2{
        padding-left: 30px;
    }
    .logout{
        top: 24px;
        right: 56px;
        font-size: 16px;
        padding: 4px 15px;
    }
}
  