<div class="form-container-full">

    <form class="st-form" novalidate>

        <h1>Subjective</h1>
        <!-- <span>Please share a few details.</span> -->

        <div class="float-label" id="div-mscore">
            <input id="mscore" name="mscore" required autocomplete="off" type="text">
            <label for="mscore">Maximum score</label>
        </div>
        <div class="error" id="error-mscore"></div>

        <div class="action-button">
            <input id="submit" type="submit" name="submit" value="Proceed">

            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" class="loading" height="35px" viewBox="0 0 100 100"><defs><style>.cls-1{fill:none;stroke:#0277bd;stroke-miterlimit:10;stroke-width:10px;}</style></defs><title>loading-b</title><path class="cls-1" d="M48.13,6.5761A43.4641,43.4641,0,1,1,6.5761,51.87"><animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 50 50" to="360 50 50" dur="1s" repeatCount="indefinite"/></path></svg>
        </div>

    </form>

</div>

<script>
    $(document).ready(function() {

        $('#submit').click(function(e) {

            $('.loading').css('visibility', 'visible');

            $('.float-label').removeClass('error-field');
            $('.error').css('display', 'none');

            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/dash/soy/amr/test/questions/add/subjective/",
                data: {
                    csrf_token: "{{ form.csrf_token._value() }}",
                    qid: $.cookie("qid"),
                    mscore: parseInt($('#mscore').val()),
                },
                success: function(data) {

                    $('.loading').css('visibility', 'hidden');

                    var flag = 0;

                    if (data.hasOwnProperty('mscore')) {
                        $('#div-mscore').addClass('error-field');
                        $('#error-mscore').css('display', 'block')
                        $('#error-mscore').html(data['mscore'][0]);
                        flag = 1;
                    }

                    if (!flag) {

                        $('.addQues').css('opacity', '0');
                        $('.addOverlay').toggleClass('open');

                        loadData("questions");

                        window.history.pushState('/dash/soy/amr/test/questions', null, '/dash/soy/amr/test/questions');

                    }

                }
            });

        });
    });
</script>