<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Stlyes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Source+Sans+Pro" rel="stylesheet">
    <link href="https://cloud.typenetwork.com/projects/3030/fontface.css/" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/fonts/fonts.css">
    <link rel="stylesheet" href="/static/css/overlays.css">
    <link rel="stylesheet" href="/static/css/workshops/workshops.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/static/js/mobile-check.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/login.js"></script>
    <script>
    	$(document).ready(function(){
        $('.header').css('background-color','#fff');
        $('.menu-button').addClass('change');
        $('.menuVidyut').removeClass('color-change');
        $('.login').addClass('color-change');
        $('.login').addClass('border-change');
    	});
    </script>
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '948746865211909');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=948746865211909&ev=PageView&noscript=1"
  /></noscript>
  </head>

  <body>
  	<div class = "load"></div>
    <div class = "load-d"></div>
    
  	{% include 'navbar.html' %}
    
    <div class="workshopContainer">
      
      <span class = "heading">Contests</span> 
      <div class = "filter">
        Department
        <svg class="mobile" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="10px" viewBox="0 0 30.3333 16.8333"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:3px;}</style></defs><title>drop-down</title><line class="cls-1" x1="1.7708" y1="1.25" x2="16.2708" y2="15.75"/><line class="cls-1" x1="14.1146" y1="15.75" x2="28.6146" y2="1.25"/></svg>
        <div class="filter-drop-down">
            <ul>
                <a id="1"><li>CSE</li></a>
                <a id="2"><li>ECE</li></a>
                <a id="3"><li>ME</li></a>
                <a id="11"><li>EEE</li></a>
                <a id="10"><li>Civil</li></a>
                <a id="7"><li>Biotech</li></a>
                <a id="9"><li>Commerce and Management</li></a>
                <a id="13"><li>Maths</li></a>
                <a id="4"><li>Physics</li></a>
                <a id="5"><li>Chemistry</li></a>
                <a id="6"><li>English</li></a>
                <a id="12"><li>Gaming</li></a>
                <a id="14"><li>Others</li></a>
            </ul>
        </div>
      </div>
      
      <div class = "gridContainer">
      	
      </div>
  	  
  	  <title> Contests | Vidyut </title>

    </div>
  </body>

  <!-- Scripts -->
    
    <script>
      function clicker(){
        $('.workshopItem').click(function(){
          openLoad();

          pageurl = $(this).attr('id');

          $('.header').css('opacity','0');
          $('.header').css('visibility','hidden');

          window.setTimeout(function(){
            $('.workshopContainer').load('/contests/'+pageurl+'?m=1', function(responseTxt, statusTxt, xhr){
              closeLoad();
            });
          }, 500);

          window.history.pushState(pageurl,pageurl, pageurl);

          $(window).bind('popstate', function(){
            console.log("popstate = " + history.state);
          });           

        });
      }

    	$(window).on('load', function(){
        
        if(isMobile() == false){
          $(".filter-drop-down").niceScroll({
            zindex: 9999,
            cursorcolor:'#A9A9A9',
            cursorborder:'none',
            cursorborderradius:0,
          });
        }
        
        $.getJSON("/events/data/contests/", function(data){
          
          console.log(data);
          var arr = [2, 3, 24, 31, 43, 53]

          $.each(data, function(key, value) {
            var workshopItem = '<div class = "workshopItem" id = "' + value.id + '"><div style = "background: url(\'https://vidyut.amrita.edu/static/images/contests/'+value.id+'a.jpg\'); background-size: cover; background-position: center;" class = "w-t-image"></div><div class = "w-t-description" style = "padding: 10px 0px 10px"><h1>' + value.title +'</h1><span class = "w-t-d-content">' + value.short +'</span></div></div>';
            if($.inArray(value.id, arr) == -1)
              $(".gridContainer").append(workshopItem);
          })
          
          clicker();

        });

          var open = "{{open}}"
          if(open == "True"){
            openLoad();
            pageurl = "{{cid}}";

              $('.header').css('opacity','0');
              $('.header').css('visibility','hidden');

            window.setTimeout(function(){
              $('.workshopContainer').load('/contests/'+pageurl+'?m=1', function(responseTxt, statusTxt, xhr){
                closeLoad();
              });
            }, 500);
            
            $(window).bind('popstate', function(){
              window.location.href="/contests/"
            });           
          }

        });
		

    	$(document).ready(function(){
        
        	normal_scroll = false;
        	$('.content-wrapper').css('background-color','#fff');

          $('.filter svg').click(function(){
            $('.filter-drop-down').toggleClass('open');
          });

          $('body').click(function(e){
            if($(e.target).closest('.filter').length)
              return;
            $(".filter-drop-down").removeClass("open");
          })

          $('.filter-drop-down a').click(function(){
            console.log($(this).attr('id'));
            filt = $(this).attr('id');
            $('.gridContainer').empty();
            $.getJSON("/events/data/contests/", function(data){
              console.log(data);
              $.each(data, function(key, value){
                if(value.department == filt){
                  var workshopItem = '<div class = "workshopItem" id = "' + value.id + '"><div style = "background: url(\'https://vidyut.amrita.edu/static/images/contests/'+value.id+'a.jpg\'); background-size: cover; background-position: center;" class = "w-t-image"></div><div class = "w-t-description" style = "padding: 10px 0px 10px"><h1>' + value.title +'</h1><span class = "w-t-d-content">' + value.short +'</span></div></div>';
                  $(".gridContainer").append(workshopItem);
                }
              });
              
              clicker();

            });
            $(".filter-drop-down").removeClass("open");
          })

      	});
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39906050-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-39906050-7');
    </script>
  <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
</html>