
<div class = "landscape noscroll">
    <h1>Please rotate the device to continue.</h1>
</div>

<link rel="stylesheet" href="/static/css/hack.css">
<div class ="block-hack">
  
  <div class = "block-wrapper">
    
    <div class ="left"> 
      
      <div class = "hack-button">
        <img src="/static/images/hack-logo.png"><br><br>
        <h1>Hackathon focused on technology</h1><br>
        <ul>
          <li>Teams of upto 4 can be formed.</li>
          <li>Refresments will be provided.</li>
          <li>Girls are requested to give their name before 4 so that your stay back can be arranged.</li>
          <li>Best performing teams will get perks:</li>
          <ul><li>CIR will personally give recomendation for interships/placements.</li>
          <li>Good work will not go unnoticed, promising work will get spot paid intership to completely develop the application.</li></ul>
       </ul>
       <br><br>
        <p style="color: #c3088b; font-weight: bold;">Registration is closed. Registered participants please check your email inbox for details.</p>
      </div>
    
    </div>
    
    <div class = "right">
      <img src="/static/images/hack.png">
    </div>

  </div> 

</div>

<script>

  $(document).ready(function(){

    $.getScript("https://apis.google.com/js/client:platform.js", function () {
      
      $('body').removeClass('noscroll');

      init();
      $('.hack-button-test').click(function(){

        origin = '/hack/start/'
        console.log("LOADED");
        login();

      });

    });
  
  });

</script>