<script src="/static/js/home.js"></script>
<script src="/static/js/navbar.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
<style>
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  /* font-size: 62.5%; */
  height: 100%;
}

body{
  overflow-x: hidden;
}
svg {
  /* display: block; */
  overflow: visible;
}

.social{
  padding-left: 0px;
}
.slider-container {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  height: 1rem;
  margin: 0 0.3rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("/static/images/slider/image-new.jpg");
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #000;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("/static/images/slider/workshops.jpg");
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #000;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("/static/images/slider/compettion.jpg");
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #000;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("/static/images/slider/Proshownew.jpg");
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #000;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 32rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
  /* font-family: "Polar", Helvetica, Arial, sans-serif; */
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    padding-top: 20%;
    line-height: 3rem;
    font-size: 2rem;
  }
  .slide__text-desc{
    /* display: none; */
  }
}
.slide__text-desc {
  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    /* display: none; */
    font-size: 1em;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  color: #fff;
  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    /* display: none; */
    font-size: 1.5rem;
  } 
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  /* color: #000; */
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
.slide__text-link:hover{
  color: #000;
}
</style>
{% include 'navbar.html' %}
<div class="slider-container">
    <div class="slider-control left inactive"></div>
    <div class="slider-control right"></div>
    <ul class="slider-pagi"></ul>
    <div class="slider">
      <div class="slide slide-0 active">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">BREAKING THE STEREOTYPES</h2>
            <p class="slide__text-desc">Vidyut’19 focuses on taking the concept of multi-fest to a whole new level by shattering the existing stereotypes and encouraging young minds to rise and act for a better tomorrow.</p>
            {% if not user %}  
            <a class="slide__text-link in-button">Register Now</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="slide slide-1 ">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">25+ Workshops</h2>
            <div class="slide__text-desc"><h3>INSPIRE TO DO MORE</h3><br>Vidyut ’19 seeks to empower youngsters by facilitating the flow of novel ideas by conducting innovative workshops and informative seminars</div><br>
            <a href="/workshops/" class="slide__text-link">REGISTER NOW</a>
          </div>
        </div>
      </div>
      <div class="slide slide-2">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">25+ Competitions</h2>
            <div class="slide__text-desc">
                <h3>₹15 LAKHS WOTH PRIZE MONEY</h3><br>
                Vidyut’19 believes in encouraging budding talents by allowing members to complement and support each other’s visions and ideas, by implementing competitive episodes and enabling the average mind to think out of the box</div>
                <br>
            <a href="/contests/" class="slide__text-link">REGISTER NOW</a>
          </div>
        </div>
      </div>
      <div class="slide slide-3">
        <div class="slide__bg"></div>
        <div class="slide__content">
          <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
          </svg>
          <div class="slide__text">
            <h2 class="slide__text-heading">Pro-shows</h2>
            <p class="slide__text-desc">Get yourself pumped up for the sensational music medley to be performed by the ever talented Haricharan Ft. Bennet and the band.Pull yourself together and gear up to meet the young “band from the land of coconuts” - When Chai Met Toast</p>
            <a href="/culturals/" class="slide__text-link">GET YOUR TICKETS</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class = "b1">   
  <div class = "b1-container">
    <div class="grid-main1">
      <div>
        PROSHOWS<br>
        <p>WHEN CHAI MET TOAST</p>
      </div>
    </div>
    <div class="grid-main2">
      25K+ FOOTFALLS
    </div>
    <div class="grid-one">70+ EVENTS</div>
    <div class="grid-two">PRIZES WORTH 15 LAKH</div>
    <div class="grid-three">40+ COMPETITIONS</div>
    <div class="grid-p1">
      <div>
          PROSHOWS<br>
          <p>HARICHARAN FT. BENNET THE BAND</p>
      </div>
    </div>
    <div class="grid-p2">25+ WORKSHOPS</div>
    <div class="grid-four">SOCCER LEAGUE</div>
    <div class="grid-five">BASKETBALL LEAGUE</div>
    <div class="grid-six">INCANDESCENCE</div>
    <div class="grid-seven">CHOREONITE</div>
    <div class="grid-eight">INVITED TALKS</div>
  </div> 
</div>

  <div class = "b2">

    <div class = "b2-left">
        <div class = "description">
          Vidyut, the national multi-fest organized by Amrita  Vishwa Vidyapeetham, Amritapuri campus is an endeavour to provide a symposium for students across the country to showcase and grow. Vidyut delivers bountiful opportunities for students to develop their unique skills by witnessing and partaking in the plethora of workshops, talks and competitions.
          <br><br><input type="submit" value="Events Brochure" id="br" style="width: 200px;">
        </div>
    </div>

    <div class = "b2-right">
      Kerala's<br>
      Biggest<br>
      Multifest<br>
    </div>

  </div>
  <div class="timer">
      <center>
      <li><span id="days"></span>Days</li>
      <li><span id="hours"></span>Hours</li>
      <li><span id="minutes"></span>Minutes</li>
      <li><span id="seconds"></span>Seconds</li>
      </center>
    <script>
    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    let countDown = new Date('Mar 15, 2019 00:00:00').getTime(),
        x = setInterval(function() {

          let now = new Date().getTime(),
              distance = countDown - now;

          document.getElementById('days').innerText = ("0" + Math.floor(distance / (day))).slice(-2),
          document.getElementById('hours').innerText = ("0" + Math.floor((distance % (day)) / (hour))).slice(-2),
          document.getElementById('minutes').innerText = ("0" + Math.floor((distance % (hour)) / (minute))).slice(-2),
          document.getElementById('seconds').innerText = ("0" + Math.floor((distance % (minute)) / second)).slice(-2);

        }, second)
    </script>
  </div>
  <!-- <div class="b3">
    <div class="one"><a href="/talks/"><span>Talks</span></a></div>
    <div class="two"><a href="/exhibitions/"><span>Exhibitions</span></a></div>
    <div class="three"><a href="/workshops/"><span>Workshops</span></a></div>
    <div class="four"><a href="/contests/"><span>Contests</span></a></div>
    <div class="five"><a href="/culturals/"><span>Culturals</span></a></div>
  </div> -->
  <div class="b7">
    <div class="about">
      <div class="b7Content">
        <span class="b7h1">About Amrita</span>
        <span class="b7m mobile">Amrita Vishwa Vidyapeetham is a multi-campus, multi-disciplinary research academia spread across five campuses with the headquarters at Ettimadai, Coimbatore, Tamil Nadu.</span>
        <span class="b7m desktop">Amrita Vishwa Vidyapeetham is a multi-campus, multi-disciplinary research academia that is accredited 'A' by NAAC and is ranked as one of the best research institutions in India. Amrita is spread across five campuses in three states of India - Kerala, Tamil Nadu and Karnataka, with the headquarters at Ettimadai, Coimbatore, Tamil Nadu. Amrita Vishwa Vidyapeetham continuously collaborates with top US universities including Ivy league universities and top European universities for regular student exchange programs, and has emerged as one of the fastest growing institutions of higher learning in India. The institution is managed by the Mata Amritanandamayi Math.</span>
        <h1>Follow</h1>
        <span class="aSocial">
          <a href="https://www.facebook.com/AmritaUniversity" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/vidyut.multifest" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/AMRITAedu" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/user/AmritaUniversity" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://in.linkedin.com/company/amrita-university" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.amrita.edu" target="_blank"><i class="fas fa-globe"></i></a>
        </span>
      </div>
    </div>
    <div class="test">
        <div class="testContainer">
      <div class="testimonials"> 
        " Amrita Vishwa Vidyapeetham has a major role to play in transforming our society into a knowledge society through its unique value-added education system "
        <span class="pTest"> Dr. A.P.J. Abdul Kalam</span>
        <span class="pdTest">  Former President of India </span>
      </div>
      <div class="testimonials">
        " This is not just another academy, but a very high quality, world-class institution, focusing on technology research, dealing with very concrete issues which have immediate applications "
        <span class="pTest"> Prof.Muhammad Yunus</span>
        <span class="pdTest">  Nobel Laureate </span>
      </div>
      <div class="testimonials">
        " What makes Amrita students special? Western science leads to knowledge. Eastern science leads to understanding. Amrita has both Western and Eastern traditions in education. "
        <span class="pTest"> Dr. Lee Hartwell</span>
        <span class="pdTest">  Nobel Laureate </span>
      </div>
      <div class="testimonials">
        " The wireless sensor system developed by Amrita Vishwa Vidyapeetham and successfully tested at Munnar in Kerala to forecast natural disasters like landslides can be replicated in similar disaster-prone areas elsewhere in the country "
        <span class="pTest"> Dr. R. Chidambaram</span>
        <span class="pdTest">  Principal Scientific Advisor to the Government of India </span>
      </div>
    </div>
  </div>
  <script>
    var myIndex = 0;
    carousel();
    function carousel() {
        var i;
        var x = document.getElementsByClassName("testimonials");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 8000);    
    }
  </script>
  <div class="rank">
    <div class="rankingDetails">
      <center> <img src="/static/images/rank.png" class="rank1"> </center>
      <span class="ndes desktop">
        <b>Amrita Vishwa Vidyapeetham</b> has emerged as the 8th best university in the National Institutional Ranking Framework (NIRF) Ranking 2018. 
      </span>
      <span class="ndes mobile">
        <b>Amrita </b> has emerged as the 8th best university in the NIRF Ranking 2018. 
      </span>
    </div>
  </div>
</div>
<div class="filler">
  <span><center>#BreakingTheStereotypes<br>#VIDYUT2K19</center></span>
</div>
<div class = "footer">
  <div class="f-one">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 948.6667 135.1544"><title>v-text</title><path d="M84.3066,135.2315h-8.1L2.41.2364H33.189L80.3467,86.4532,127.3252.2364h30.7783Z"/><path d="M235.5049,135.2315H208.5063V.2364h26.9986Z"/><path d="M314.7056,135.2315V.2364h49.4975a67.4976,67.4976,0,1,1,0,134.9951Zm49.4975-26.999a40.4986,40.4986,0,1,0,0-80.9971h-22.499v80.9971Z"/><path d="M467.707.2364h31.8584l35.8184,57.2383L571.3828.2364h31.8584L548.8828,86.8135v48.418h-26.998V86.8135Z"/><path d="M768.8389,76.7335a58.4976,58.4976,0,1,1-116.9951,0V.2364h26.999V76.7335a31.4985,31.4985,0,1,0,62.997,0V.2364h26.9991Z"/><path d="M831.8418.2364H948.8379v26.999H903.84V135.2315h-26.999V27.2354h-44.999Z"/></svg>
  </div>
  <div class="f-two">
    <img src="/static/images/SAC2.png">
  </div>
  <div class="f-four">
      <img src="/static/images/havlogo.png">
  </div>
  <div class="f-three">
    <div class="f-social">
      <a href="mailto:vidyut@am.amrita.edu">vidyut@am.amrita.edu</a><br>
      <a href="https://www.facebook.com/Vidyut.Multifest" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <a href="https://www.instagram.com/vidyutmultifest" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/VidyutMultifest" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCrtm636yrNotuN7b8cDnMIA" target="_blank"><i class="fab fa-youtube"></i></a> 
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.grid-one').click(function(){

    });
    $('.grid-three').click(function(){
      window.location.href = "/contests/"
    });
    $('.grid-p2').click(function(){
      window.location.href = "/workshops/"
    });
    $('.grid-p1, .grid-main1, .grid-six, .grid-seven').click(function(){
      window.location.href = "/culturals/"
    });
    $('#br').click(function(){
      window.location.href = "/brochure/"
    });
    // b1();
  var $slider = $(".slider"),
      $slideBGs = $(".slide__bg"),
      diff = 0,
      curSlide = 0,
      numOfSlides = $(".slide").length-1,
      animating = false,
      animTime = 500,
      autoSlideTimeout,
      autoSlideDelay = 6000,
      $pagination = $(".slider-pagi");
  
  function createBullets() {
    for (var i = 0; i < numOfSlides+1; i++) {
      var $li = $("<li class='slider-pagi__elem'></li>");
      $li.addClass("slider-pagi__elem-"+i).data("page", i);
      if (!i) $li.addClass("active");
      $pagination.append($li);
    }
  };
  
  createBullets();
  
  function manageControls() {
    $(".slider-control").removeClass("inactive");
    if (!curSlide) $(".slider-control.left").addClass("inactive");
    if (curSlide === numOfSlides) $(".slider-control.right").addClass("inactive");
  };
  
  function autoSlide() {
    autoSlideTimeout = setTimeout(function() {
      curSlide++;
      if (curSlide > numOfSlides) curSlide = 0;
      changeSlides();
    }, autoSlideDelay);
  };
  
  autoSlide();
  
  function changeSlides(instant) {
    if (!instant) {
      animating = true;
      manageControls();
      $slider.addClass("animating");
      $slider.css("top");
      $(".slide").removeClass("active");
      $(".slide-"+curSlide).addClass("active");
      setTimeout(function() {
        $slider.removeClass("animating");
        animating = false;
      }, animTime);
    }
    window.clearTimeout(autoSlideTimeout);
    $(".slider-pagi__elem").removeClass("active");
    $(".slider-pagi__elem-"+curSlide).addClass("active");
    $slider.css("transform", "translate3d("+ -curSlide*100 +"%,0,0)");
    $slideBGs.css("transform", "translate3d("+ curSlide*50 +"%,0,0)");
    diff = 0;
    autoSlide();
  }

  function navigateLeft() {
    if (animating) return;
    if (curSlide > 0) curSlide--;
    changeSlides();
  }

  function navigateRight() {
    if (animating) return;
    if (curSlide < numOfSlides) curSlide++;
    changeSlides();
  }

  $(document).on("mousedown touchstart", ".slider", function(e) {
    if (animating) return;
    window.clearTimeout(autoSlideTimeout);
    var startX = e.pageX || e.originalEvent.touches[0].pageX,
        winW = $(window).width();
    diff = 0;
    
    $(document).on("mousemove touchmove", function(e) {
      var x = e.pageX || e.originalEvent.touches[0].pageX;
      diff = (startX - x) / winW * 70;
      if ((!curSlide && diff < 0) || (curSlide === numOfSlides && diff > 0)) diff /= 2;
      $slider.css("transform", "translate3d("+ (-curSlide*100 - diff) +"%,0,0)");
      $slideBGs.css("transform", "translate3d("+ (curSlide*50 + diff/2) +"%,0,0)");
    });
  });
  
  $(document).on("mouseup touchend", function(e) {
    $(document).off("mousemove touchmove");
    if (animating) return;
    if (!diff) {
      changeSlides(true);
      return;
    }
    if (diff > -8 && diff < 8) {
      changeSlides();
      return;
    }
    if (diff <= -8) {
      navigateLeft();
    }
    if (diff >= 8) {
      navigateRight();
    }
  });
  
  $(document).on("click", ".slider-control", function() {
    if ($(this).hasClass("left")) {
      navigateLeft();
    } else {
      navigateRight();
    }
  });
  
  $(document).on("click", ".slider-pagi__elem", function() {
    curSlide = $(this).data("page");
    changeSlides();
  });

  });
</script>