<title>{{ workshop.title }} | Workshops</title>

<link rel="stylesheet" href="/static/css/workshops/individual.css">
<link rel="stylesheet" href="/static/css/imageviewer.css">
<link rel="stylesheet" href="/static/css/form.css">
<script src="/static/js/imageviewer.js"></script>
<div class="full-page-overlay reg-workshop">
	<div class="close">
		<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="#010101" points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 "/></svg>
	</div>
	<style>
		p a{
			text-decoration: underline;
		}
	</style>
	<div class="reg-workshop-content">
		<div>
			<h1>{{ workshop.title }}</h1>
			<h2>Fee: &#8377; {{ workshop.fee }}</h2>
			<div style="margin-top: 10px;">
				<form method="POST" action="https://payments.acrd.org.in/pay/makethirdpartypayment">
					<input type="hidden" value="" name="encdata" id="encdata">
					<input type="hidden" value="VIDYUT2019" name="code" id="code">
					<input type="submit" id="pay" value="Proceed to pay" style="width: 150px;">
					<p style="margin-top: 10px;">Please read the <a href="/faq" target="_blank">FAQ</a></p>
				</form>
			</div>
		</div>
	</div>
</div>
<div class = "Containter">

	</div>
	<div class = "left">
	</div>
	<div class = "go-back">
		<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 108.4167 50.1667"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:5px;}</style></defs><title>back-arrow</title><line class="cls-1" x1="3" y1="25.0833" x2="131" y2="25.0833"/><line class="cls-1" x1="1.3177" y1="26.1823" x2="26.3177" y2="1.1823"/><line class="cls-1" x1="1.4433" y1="24.2188" x2="26.1921" y2="48.9675"/></svg>
	</div>
	<div class = "right">
		<!-- <div class = "login desktop color-change border-change">
			LOGIN
		</div> -->
		<div class = "w-heading">{{ workshop.title }}</div>
		<div class = "w-description-s">
			{{ workshop.about }}
		</div>
		<div class="w-department">
			{{dept[workshop.department - 1]}}
		</div>
		<div class="down-arrow bounce">
			<img src = "/static/images/icons/down_arrow_black.png" height="35px" />
		</div>
	</div>
	<div class="w-m-main-mobile mobile">
		<div class="w-m-heading">
			<div class = "w-heading">{{ workshop.title }}</div>
		</div>
		<div class = "w-description-s" style="margin-top: 10px;">
			{{ workshop.about }}
		</div>
		<div class="w-department">
			{{dept[workshop.department - 1]}}
		</div>
	</div>
	<div class = "main-content">
		<div class="w-m-main-content">
			<!-- <div class="w-m-about">
				<p>{{ workshop.about }}</p>
			</div> -->
			{% if workshop.rules != '<p></p>' and workshop.rules != '<p><br></p>' %}
			<div class="w-m-rules">
				<p>{{ workshop.rules|safe }}</p>
			</div>
			{% endif %}
			{% if workshop.prereq != '<p></p>' and workshop.prereq != '<p><br></p>' %}
			<div class="w-m-prereq">
				<p>{{ workshop.prereq|safe }}</p>
			</div>
			{% endif %}
		</div>
		<div class="w-m-sidebar">
			<div class="registeration">
				{% if workshop.rmseats == 0 %}
					Slots filled. Registrations are closed.
				{% elif workshop.registered == False %}
				<input id="register" type="submit" name="register" style="width: 100%; margin-bottom: 20px" value="Register">
					<p>Registrations are open.<br>Limited seats available.</p>
				{% else %}
				<p>Already registered</p>
				{% endif %}
			</div>
			<div class="w-s-fee">
				{% if workshop.fee %}
				&#8377; <strong>{{workshop.fee}}</strong> per head
				{% else %}
				Price to be announced soon
				{% endif %}
			</div>
			<br><hr><br>
			{% if workshop.org %}
			<div class="w-s-sponsor">
				Organiser
				<h2>{{ workshop.org }}</h2>
			</div>
			<br><hr><br>
			{% endif %}
			{% if workshop.d1dur or workshop.d2dur or workshop.d3dur %}
			<div class="w-s-timing">
				{% if workshop.d1beg %}
				<span class="d"><strong>Day 1 : </strong>{{ workshop.d1beg }} - {{ workshop.d1end }}</span><br>
				{% endif %}
				{% if workshop.d2beg %}
				<span class="d"><strong>Day 2 : </strong>{{ workshop.d2beg }} - {{ workshop.d2end }}</span><br>
				{% endif %}
				{% if workshop.d3beg %}
				<span class="d"><strong>Day 3 : </strong>{{ workshop.d3beg }} - {{ workshop.d3end }}</span>
				{% endif %}
			</div>
			{% endif %}
			<hr><br>
			{% if support %}
			<div class="w-s-sponsor support">
				For any queries
				<h3>
				<span class="c-name1">{{ support.fname }}</span>
				<span class="c-name2">{{ support.lname }} </span>
				<br>
				<span class="c-phno">{{ support.phno }}</span>
				</h3>
			</div>
			{% endif %}
			<br><hr><br>
			<div class="cf" >
    			<img width="285px" src="http://localhost:5000/static/images/workshops/{{ workshop.id }}b.jpg" data-high-res-src="http://localhost:5000/static/images/workshops/{{ workshop.id }}b.jpg" class="poster">
			</div>
		</div>

	</div>

	<script>

		$(document).ready(function(){

			$('.c-name1').html($('.c-name1').html().toLowerCase())
			$('.c-name1').css('text-transform','capitalize')
			$('.c-name2').html($('.c-name2').html().toLowerCase())
			$('.c-name2').css('text-transform','capitalize')

			console.log("{{ workshop.id }}");
			$('.left').css('background', 'url("https://vidyut.amrita.edu/static/images/workshops/{{ workshop.id }}a.jpg")');
			$('.left').css('background-size', "cover");
			$('.left').css('background-repeat', "no-repeat");
			$('.left').css('background-position', "center");

			// Image Viewer
			var viewer = ImageViewer();
    		$('.poster').click(function () {
	        var imgSrc = this.src,
	            highResolutionImage = $(this).data('high-res-img');
	        viewer.show(imgSrc, highResolutionImage);
    		});


			$('.go-back').click(function(){
				window.location.href="/workshops/"
			});

			$('#register').click(function(){

				var cookie = '/workshops/{{workshop.id}}/';
				sessionStorage.setItem('origin', cookie);

				if (!GoogleAuth.isSignedIn.get()) {
					console.log(sessionStorage.getItem('origin'));
                    GoogleAuth.signIn();
				}
				else{

					$.when(data_complete()).done(function() {

						$('.full-page-overlay').toggleClass('open');
						$('body').addClass('noscroll');
						var eid = "{{ workshop.id }}"
						payload = {
							'cat': 1,
							'eid':parseInt(eid),
							'tid':''
						}
						$.ajax({
							type: "POST",
							data: payload,
							url: "/events/register",
							success: function(data){
								$('#encdata').val(data.encdata);
							}
						});
					});

				}
			});

			$('.close').click(function(){
                $('.full-page-overlay').removeClass('open');
                $('body').removeClass('noscroll');
			});

		});

		$(document).on('keyup',function(evt) {
            if (evt.keyCode == 27){
                $('.full-page-overlay').removeClass('open');
                $('body').removeClass('noscroll');
            }
		});

		$(window).bind('popstate', function(){
			window.location.href="/workshops/"
		});

	</script>
</div>
