<title>{{ contest.title }} | Contests</title>
<link rel="stylesheet" href="/static/css/workshops/individual.css">
<link rel="stylesheet" href="/static/css/imageviewer.css">
<link rel="stylesheet" href="/static/css/form.css">
<script src="/static/js/imageviewer.js"></script>
<style>
	.right .down-arrow{
		position: absolute;
		left: 75%;
		bottom: 2%;
	}
</style>
<div class = "Containter">
	<!-- <div class="trans-layer"></div>
	<div class="medium-page-overlay registeration-overlay">
		<div class="medium-overlay-content">
			Are you sure you want to register for the workshop on {{contest.title}}?
			<input type="submit" id="yes" name="yes" value="Yes">
			<input type="submit" id="no" name="no" value="No">
		</div>
	</div> -->

	</div>
	<div class = "left">
	</div>
	<div class = "go-back">
		<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 108.4167 50.1667"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:5px;}</style></defs><title>back-arrow</title><line class="cls-1" x1="3" y1="25.0833" x2="131" y2="25.0833"/><line class="cls-1" x1="1.3177" y1="26.1823" x2="26.3177" y2="1.1823"/><line class="cls-1" x1="1.4433" y1="24.2188" x2="26.1921" y2="48.9675"/></svg>
	</div>
	<div class = "right">
		<!-- <div class = "login desktop color-change border-change">
			LOGIN
		</div> -->
		<div class = "w-heading">{{ contest.title }}</div>
		<div class = "w-description-s">
			{{ contest.short }}
		</div>
		<div class="w-department">
			{{dept[contest.department - 1]}}
		</div>
		<div class="down-arrow">
			Scroll down
		</div>
	</div>
	<div class="w-m-main-mobile mobile">
		<div class="w-m-heading">
			<div class = "w-heading">{{ contest.title }}</div>
		</div>
		<div class = "w-description-s">
			{{ contest.short }}
		</div>
		<div class="w-department">
			{{dept[contest.department - 1]}}
		</div>
	</div>
	<div class = "main-content">

		<div class="w-m-main-content">
			<div class="w-m-about">
				<p>{{ contest.about }}</p>
			</div>
			{% if contest.rules != '<p></p>' and contest.rules != '<p><br></p>' %}
			<div class="w-m-rules">
				<p>{{ contest.rules|safe }}</p>
			</div>
			{% endif %}
			{% if contest.prereq != '<p></p>' and contest.prereq != '<p><br></p>' %}
			<div class="w-m-prereq">
				<p>{{ contest.prereq|safe }}</p>
			</div>
			{% endif %}
		</div>

		<div class="w-m-sidebar">
			<div class="registeration">
				<!-- <input id="register" type="submit" name="register" style="width: 100%; margin-bottom: 20px" value="Register"> -->
				{% if contest.team_limit > 1 %}
				Maximum {{contest.team_limit}} member(s) in a team
				{% else %}
				Individual competition
				{% endif %}
			</div>
			<br><hr><br>
			{% if contest.orglogo %}
			<div class="w-s-sponsor">
				<h1>Organiser</h1>
				<img src = "/static/images/nvidea.png" height="100px"/>
			</div>
			<br><hr><br>
			{% endif %}
			{% if contest.prize1 %}
			<div class="w-s-sponsor">
				1st Prize
				<h1>&#8377;{{ contest.prize1 }}</h1>
			</div>
			{% endif %}
			{% if contest.prize2 %}
			<br>
			<div class="w-s-sponsor">
				2nd Prize
				<h1>&#8377;{{ contest.prize2 }}</h1>
			</div>
			{% endif %}
			{% if contest.prize3 %}
			<br>
			<div class="w-s-sponsor">
				3rd Prize
				<h1>&#8377;{{ contest.prize3 }}</h1>
			</div>
			{% endif %}
			<br><hr><br>
			{% if support %}
			<div class="w-s-sponsor support">
				<h4>For any queries</h4>
				<h3>
				<span class="c-name1">{{ support.fname }}</span>
				<span class="c-name2">{{ support.lname }} </span>
				<br>
				<span class="c-phno">{{ support.phno }}</span>
				</h3>
			</div>
			{% endif %}
			<br><hr><br>
			<div class="cf" >
    			<img width="285px" src="https://devhub.amblygon.org/static/images/contests/{{ contest.id }}a.jpg" data-high-res-src="https://devhub.amblygon.org/static/images/contests/{{ contest.id }}a.jpg" class="poster">
			</div>
		</div>
	</div>

	<script>
		$('#register').click(function(){
			console.log("TESTING");
			$('.trans-layer').addClass('open');
			$('.registeration-overlay').addClass('open');
		});

		$(document).ready(function(){

			$('.c-name1').html($('.c-name1').html().toLowerCase())
			$('.c-name1').css('text-transform','capitalize')
			$('.c-name2').html($('.c-name2').html().toLowerCase())
			$('.c-name2').css('text-transform','capitalize')
			console.log("{{ contest.id }}");
			$('.left').css('background', 'url("https://devhub.amblygon.org/static/images/contests/{{ contest.id }}a.jpg")');
			$('.left').css('background-size', "cover");
			$('.left').css('background-repeat', "no-repeat");
			$('.left').css('background-position', "center");

			$('.go-back').click(function(){
				window.location.href="/contests"
			});

			if(isMobile() == true){
				$('.desktop').css('display', 'css');
			}

			$(window).bind('popstate', function(){
				window.location.href="/contests/"
			});

			// Image Viewer
			var viewer = ImageViewer();
    	$('.poster').click(function () {
	        var imgSrc = this.src,
	            highResolutionImage = $(this).data('high-res-img');
	        viewer.show(imgSrc, highResolutionImage);
    		});

		});

	</script>
</div>
