<title>{{ workshop.title }} | Workshops</title>
<link rel="stylesheet" href="/static/css/workshops/individual.css">
<link rel="stylesheet" href="/static/css/form.css">
<script>
	function init(){
    // console.log("loading gapi");
    gapi.load('auth2', function () {
      // console.log("gapi loaded");
      auth2 = gapi.auth2.init({
          client_id: '727153101463-709hp9lcjelc2ps4evtb4ojutbq1sotl.apps.googleusercontent.com'
      });
    });
  }

  function changeheader(color){
    $('.menuVidyut').toggleClass('color-change');
    $('.menu-button').toggleClass('change');
    $('.login').toggleClass('color-change');
    $('.login').toggleClass('border-change');
    if(color == "b")
      $('.header').css('background-color', '#000');
    else
      $('.header').css('background-color', '#fff');
  }

  function userChanged(user){
    console.log("USER CHANGED");
    $.ajax({
      type: "POST",
      url: "/farer/tokensignin/",
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
      },
      data: {idtoken: user.getAuthResponse().id_token},
      success: function(data){
		console.log("data = " + data);
		checkLogin();
      }
    });
  }

  function login() {
	// console.log("onLogin");
	auth2.currentUser.listen(userChanged);
	auth2.signIn();
  }

  function checkLogin(){

    var fName, lName;
	console.log("Inside checklogin");

    $.getJSON("/data/farer/user/", function(data){

    //   console.log("Details completed? " + data['detailscomp']);
    //   console.log("Educational details completed? " + data['educomp']);
	  
	  $('.workshopContainer').css('opacity', '0');

	  window.setTimeout(function(){
		id = data['id'];
		if(data['detailscomp'] == null){
			window.location.href = "/farer/details"
		}
		else if(data['educomp'] == null){
			window.location.href = "/farer/education"
		}
		else{
			window.location.href = window.sessionStorage.getItem('origin');
		}
	  }, 500);
    });

  }
</script>
<div class = "Containter">
	<!-- <div class="trans-layer"></div>
	<div class="medium-page-overlay registeration-overlay">
		<div class="medium-overlay-content">
			Are you sure you want to register for the workshop on {{workshop.title}}? 
			<input type="submit" id="yes" name="yes" value="Yes">
			<input type="submit" id="no" name="no" value="No">
		</div>
	</div> -->

	</div>
	<div class = "left">
	</div>
	<div class = "go-back">
		<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 108.4167 50.1667"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:5px;}</style></defs><title>back-arrow</title><line class="cls-1" x1="3" y1="25.0833" x2="131" y2="25.0833"/><line class="cls-1" x1="1.3177" y1="26.1823" x2="26.3177" y2="1.1823"/><line class="cls-1" x1="1.4433" y1="24.2188" x2="26.1921" y2="48.9675"/></svg>
	</div>
	<div class = "right">
		<!-- <div class = "login desktop color-change border-change">
			LOGIN
		</div> -->
		<div class = "w-heading">{{ workshop.title }}</div>
		<div class = "w-description-s">
			{{ workshop.short }}
		</div>
		<div class="w-department">
			{{dept[workshop.department - 1]}}
		</div>
	</div>
	<div class="w-m-main-mobile mobile">
		<div class="w-m-heading">
			<div class = "w-heading">{{ workshop.title }}</div>
		</div>
		<div class = "w-description-s" style="margin-top: 10px;">
			{{ workshop.short }}
		</div>
		<div class="w-department">
			{{dept[workshop.department - 1]}}
		</div>
	</div>
	<div class = "main-content">
		<div class="w-m-main-content">
			<div class="w-m-about">
					<p>{{ workshop.about }}</p>	
			</div>
			<div class="w-m-rules">
				<h1>Rules</h1>
				<p>{{ workshop.rules|safe }}</p>
			</div>
			{% if workshop.prereq %}
			<div class="w-m-prereq">
				<h1>Prerequisites</h1>
				<p>{{ workshop.prereq|safe }}</p>
			</div>
			{% endif %}
		</div>
		<div class="w-m-sidebar">
			<!-- <div class="registeration">
				<input id="register" type="submit" name="register" style="width: 100%; margin-bottom: 20px" value="Register">
					<p>Registrations open 23 February.<br>Limited seats available.</p>
			</div> -->
			<div class="w-s-fee">
				{% if workshop.fee %}
				&#8377; {{workshop.fee}} per head
				{% else %}
				Price to be announced soon
				{% endif %}
			</div>
			<br><hr><br>
			{% if workshop.orglogo %}
			<div class="w-s-sponsor">
				<h1>Organiser</h1>
				<img src = "{{ workshop.orglogo }}" height="100px"/>
			</div>
			<br><hr><br>
			{% endif %}
			{% if support %}
			<div class="w-s-sponsor">
				<h3>For any queries</h3>
				<span class="c-name">{{ support.fname }}</span>
				<span class="c-phno">{{ support.phno }}</span>
			</div>
			{% endif %}
		</div>
	</div>
	
	<script>

		$(document).ready(function(){
			$('.left').css('background', "url('/static/images/wtw.jpg')");
			$('.left').css('background-size', "cover");
			$('.left').css('background-repeat', "no-repeat");
			$('.left').css('background-position', "center");
	
			$('.go-back').click(function(){
				window.location.href="/workshops"
			});

		});
		
		$(window).bind('popstate', function(){
			window.location.href="/workshops/"
		});
		
		$.getScript("https://apis.google.com/js/client:platform.js", function () {
      
			init();

			$('#register').click(function(){
				var cookie = '/workshops/{{workshop.id}}/register'
				sessionStorage.setItem('origin', cookie);
				console.log(window.sessionStorage.getItem('origin'));
				login();

			});

		});

	</script>
</div>