<title>{{ contest.title }} | Contests</title>
<link rel="stylesheet" href="/static/css/workshops/individual.css">
<link rel="stylesheet" href="/static/css/imageviewer.css">
<link rel="stylesheet" href="/static/css/form.css">
<script src="/static/js/imageviewer.js"></script>
<style>
	.right .down-arrow{
		position: absolute;
		left: 75%;
		bottom: 2%;
	}
	p a{
		text-decoration: underline;
	}
</style>
<div class="full-page-overlay reg-workshop">
	<div class="close">
		<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="#010101" points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 "/></svg>
	</div>
	<div class="reg-workshop-content">
		<div>
			<h1>{{ contest.title }}</h1>
			<h2>Fee: &#8377; {{ contest.fee }}</h2>
			<div style="margin-top: 10px;">
				<form method="POST" action="https://payments.acrd.org.in/pay/makethirdpartypayment">
					<input type="hidden" value="" name="encdata" id="encdata">
					<input type="hidden" value="VIDYUT2019" name="code" id="code">
					<input type="submit" id="pay" value="Create a team and proceed to pay" style="width: 250px;">
				</form>
				<div style="margin-top: 20px;">
					{% if contest.team_limit > 1 %}
					<input type="submit" value="Join an existing team" id ="join-team" style="margin-bottom: 10px; width: 250px;">
					{% endif %}
					<br>
					<p>Please read the <a href="/faq" target="_blank">FAQ</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class = "Containter">

	</div>
	<div class = "left">
	</div>
	<div class = "go-back">
		<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 108.4167 50.1667"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:5px;}</style></defs><title>back-arrow</title><line class="cls-1" x1="3" y1="25.0833" x2="131" y2="25.0833"/><line class="cls-1" x1="1.3177" y1="26.1823" x2="26.3177" y2="1.1823"/><line class="cls-1" x1="1.4433" y1="24.2188" x2="26.1921" y2="48.9675"/></svg>
	</div>
	<div class = "right">
		<!-- <div class = "login desktop color-change border-change">
			LOGIN
		</div> -->
		<div class = "w-heading">{{ contest.title }}</div>
		<div class = "w-description-s">
			{{ contest.short }}
		</div>
		<div class="w-department">
			{{dept[contest.department - 1]}}
		</div>
		<div class="down-arrow bounce">
			<img src = "/static/images/icons/down_arrow_black.png" height="35px" />
		</div>
	</div>
	<div class="w-m-main-mobile mobile">
		<div class="w-m-heading">
			<div class = "w-heading">{{ contest.title }}</div>
		</div>
		<div class = "w-description-s">
			{{ contest.short }}
		</div>
		<div class="w-department">
			{{dept[contest.department - 1]}}
		</div>
	</div>
	<div class = "main-content">

		<div class="w-m-main-content">
			<div class="w-m-about">
				<p>{{ contest.about }}</p>
			</div>
			{% if contest.rules != '<p></p>' and contest.rules != '<p><br></p>' %}
			<div class="w-m-rules">
				<p>{{ contest.rules|safe }}</p>
			</div>
			{% endif %}
			{% if contest.prereq != '<p></p>' and contest.prereq != '<p><br></p>' %}
			<div class="w-m-prereq">
				<p>{{ contest.prereq|safe }}</p>
			</div>
			{% endif %}
		</div>

		<div class="w-m-sidebar">
			<div class="registeration">
				{% if contest.registered == False %}
				<input id="register" type="submit" name="register" style="width: 100%; margin-bottom: 20px" value="Register">
				{% else %}
				<p>Already registered</p>
				{% endif %}
				{% if contest.team_limit > 1 %}
				Maximum {{contest.team_limit}} member(s) in a team
				{% else %}
				Individual competition
				{% endif %}
			</div>
			<div class="w-s-fee">
				{% if contest.team_limit > 1 %}
				<b>&#8377;</b> {{contest.fee}} per team
				{% else %}
				<b>&#8377;</b> {{contest.fee}} per head
				{% endif %}
			</div>
			<br><hr><br>
			{% if contest.orglogo %}
			<div class="w-s-sponsor">
				<h1>Organiser</h1>
				<img src = "/static/images/nvidea.png" height="100px"/>
			</div>
			<br><hr><br>
			{% endif %}
			{% if contest.prize1 %}
			<div class="w-s-sponsor">
				1st Prize
				<h1>&#8377;{{ contest.prize1 }}</h1>
			</div>
			{% endif %}
			{% if contest.prize2 %}
			<br>
			<div class="w-s-sponsor">
				2nd Prize
				<h1>&#8377;{{ contest.prize2 }}</h1>
			</div>
			{% endif %}
			{% if contest.prize3 %}
			<br>
			<div class="w-s-sponsor">
				3rd Prize
				<h1>&#8377;{{ contest.prize3 }}</h1>
			</div>
			{% endif %}
			{% if not contest.prize1 and not contest.prize2 and not contest.prize3 %}
			{% if contest.pworth %}
			<br>
			<div class="w-s-sponsor">
				Prizes worth
				<h1>&#8377;{{ contest.pworth }}</h1>
			</div>
			{% endif %}
			{% endif %}
			<br><hr><br>
			{% if contest.d1dur or contest.d2dur or contest.d3dur %}
			<div class="w-s-timing">
				{% if contest.d1beg %}
				<span class="d">March 15th {{ contest.d1beg }} - {{ contest.d1end }}</span><br>
				{% endif %}
				{% if contest.d2beg %}
				<span class="d">March 16th {{ contest.d2beg }} - {{ contest.d2end }}</span><br>
				{% endif %}
				{% if contest.d3beg %}
				<span class="d">March 17th {{ contest.d3beg }} - {{ contest.d3end }}</span>
				{% endif %}
			</div>
			<hr>
			{% endif %}
			{% if support %}
			<div class="w-s-sponsor support">
				For any queries
				<h3>
				<span class="c-name1">{{ support.fname }}</span>
				<span class="c-name2">{{ support.lname }} </span>
				<br>
				<span class="c-phno">{{ support.phno }}</span>
				</h3>
			</div>
			{% endif %}
			<br><hr><br>
		 <!-- <div class="cf" >
    			<img width="285px" src="https://vidyut.amrita.edu/static/images/contests/{{ contest.id }}b.jpg" data-high-res-src="https://vidyut.amrita.edu/static/images/contests/{{ contest.id }}b.jpg" class="poster">
			</div> -->
		</div>
	</div>

	<script>

		$(document).ready(function(){

			$('.c-name1').html($('.c-name1').html().toLowerCase())
			$('.c-name1').css('text-transform','capitalize')
			$('.c-name2').html($('.c-name2').html().toLowerCase())
			$('.c-name2').css('text-transform','capitalize')
			// console.log("{{ contest.id }}");
			$('.left').css('background', 'url("https://vidyut.amrita.edu/static/images/contests/{{ contest.id }}a.jpg")');
			$('.left').css('background-size', "cover");
			$('.left').css('background-repeat', "no-repeat");
			$('.left').css('background-position', "center");

			$('.go-back').click(function(){
				window.location.href="/contests"
			});

			if(isMobile() == true){
				$('.desktop').css('display', 'css');
			}

			$('#register').click(function(){

				var cookie = '/contests/{{contest.id}}/'
				sessionStorage.setItem('origin', cookie);

				if (!GoogleAuth.isSignedIn.get()) {
					console.log(sessionStorage.getItem('origin'));
                    GoogleAuth.signIn();
				}
				else{

					$.when(data_complete()).done(function() {

						$('.full-page-overlay').toggleClass('open');
						$('body').addClass('noscroll');
						var eid = "{{ contest.id }}"
						payload = {
							'cat': 2,
							'eid':parseInt(eid),
							'tid':''
						}
						$.ajax({
							type: "POST",
							data: payload,
							url: "/events/register",
							success: function(data){
								$('#encdata').val(data.encdata);
							}
						});

					});

				}
			});

			$('#join-team').click(function(){
				$('.reg-workshop-content').css('opacity', '0');
				window.setTimeout(function(){
					$('.reg-workshop-content').empty();
					var large = "<div><h2>Enter Team ID</h3><di2>";
					button = "<div class=\"float-label\"><input id=\"team-id\" name=\"team-id\" autocomplete=\"off\" required type=\"text\"><label for=\"team-id\">Team ID</label></div>";
					large = large + button;
					large = large + "<div class=\"error\"></div>";
					large = large + "<input type=\"submit\" id=\"proceed-team\" value=\"Proceed\"></div></div>";
					$('.reg-workshop-content').append(large);
					$('#proceed-team').click(function(){
						$('.error').css('display', 'none');
						$('.error').empty();
						val = $('#team-id').val();
						if(val == ""){
							$('.error').append("Enter a team ID");
							$('.error').css('display', 'block');
						}
						else{
							var eid = "{{ contest.id }}"
							payload = {
								'cat': 2,
								'eid': parseInt(eid),
								'tid': val
							}
							$.ajax({
								type: "POST",
								data: payload,
								url: "/events/register",
								success: function(data){
									if(data.status == 'fail'){
										$('.error').append(data.message);
										$('.error').css('display', 'block');
									}
									else if(data.status == 'success'){
										$('.reg-workshop-content').css('opacity', '0');
										window.setTimeout(function(){
											$('.reg-workshop-content').empty();
											window.setTimeout(function(){
												$('.reg-workshop-content').append("<h1>Successfully registered</h1>");
												$('.reg-workshop-content').css('opacity', '1');
											}, 200);
										}, 500);
									}
									else{
										$('.error').append("Some error occured");
										$('.error').css('display', 'block');
									}
								}
							});
						}
					})
					window.setTimeout(function(){
						$('.reg-workshop-content').css('opacity','1');
					}, 200);
				}, 600);
			})

			$('.close').click(function(){
                $('.full-page-overlay').removeClass('open');
                $('body').removeClass('noscroll');
			});

			$(document).on('keyup',function(evt) {
				if (evt.keyCode == 27){
					$('.full-page-overlay').removeClass('open');
					$('body').removeClass('noscroll');
				}
			});

			$(window).bind('popstate', function(){
				window.location.href="/contests/"
			});

			// Image Viewer
			var viewer = ImageViewer();
    		$('.poster').click(function () {
	        var imgSrc = this.src,
	            highResolutionImage = $(this).data('high-res-img');
	        viewer.show(imgSrc, highResolutionImage);
    		});

		});

	</script>
</div>
