<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    <title>Vidyut - National Multifest</title>
    <style>
      body {
        margin: 100px auto;
        max-width: 500px;
        padding: 0 100px;
      }
    </style>
  </head>
  <body>
    <span>Website under maintenance.<br><br>We regret the inconvenience caused.</span>
  </body>
</htmL>
