<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sponsors | Vidyut</title>
    <!-- CSS Stlyes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Source+Sans+Pro" rel="stylesheet">
    <link href="https://cloud.typenetwork.com/projects/3030/fontface.css/" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/fonts/fonts.css">
    <link rel="stylesheet" href="/static/css/sponsors.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/mobile-check.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/navbar.js"></script>
    
    <script>
    	$(document).ready(function(){
        $('.header').css('background-color','#fff');
        $('.menu-button').addClass('change');
        $('.menuVidyut').removeClass('color-change');
        $('.login').addClass('color-change');
        $('.login').addClass('border-change');
    	});
    </script>
  </head>

  <body>
    
  	{% include 'navbar.html' %}

    <div class="contentWrapper">

      <div class="main-sponsor">
        <div class="m-s-one">
          <h1>Our Sponsors</h1>
        </div>
        <div class="m-s-two">
          <div class ="s-partner">
              <center><h2>Student partner</h2></center>
              <img src = "/static/images/sponsors/main/s-one.png">
              <img src = "/static/images/sponsors/main/s-two.png">
          </div>
          <div class="d-partner">
              <center><h2>Audio partner</h2></center>
              <img src = "/static/images/sponsors/main/Zeb.png">
          </div>
        </div>
      </div>
      
      <!-- <div class="block b4">
        <div class="lu">Previous<br>Sponsors</div>
        <div class="rd">
          <div class="item1"></div><div class="item2"></div><div class="item3"></div><div class="item4"></div><div class="item5"></div>
          <div class="item6"></div><div class="item7"></div><div class="item8"></div><div class="item9"></div><div class="item10"></div>
          <div class="item11"></div><div class="item12"></div><div class="item13"></div><div class="item14"></div><div class="item15"></div>
          <div class="item16"></div><div class="item17"></div><div class="item18"></div><div class="item19"></div><div class="item20"></div>
          <div class="item21"></div><div class="item22"></div><div class="item23"></div><div class="item24"></div><div class="item25"></div>
        </div>    
      </div> -->
    
    </div>
  </body>
  <script>
      $(document).ready(function(){
        normal_scroll = false;
    });
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39906050-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39906050-7');
  </script>
</html>