<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Stlyes -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/fonts/fonts.css">
    <link rel="stylesheet" href="/static/css/overlays.css">
    <link rel="stylesheet" href="/static/css/workshops/workshops.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/static/js/mobile-check.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/login.js"></script>
    <script>
    	$(document).ready(function(){
    		$('.header').css('background-color','#fff');
      });
    </script>
  </head>

  <body>
  	<div class = "load"></div>
  	<div class = "load-d"></div>
  	<div class = "sideNav">
        <div class = "sideNavContents">
          <ul class = "nav">
            <li id = "talks"><a class="talks" href="/talks/">Talks<span></span></a></li>
            <li id = "concerts"><a class="concerts" href="/concerts/">Concerts<span></span></a></li>
            <li id = "masterclass"><a class="masterclass" href="/exhibitions/">Exhibitions<span></span></a></li>
            <li id = "workshops"><a class="workshops" href="/workshops/">Workshops<span></span></a></li>
            <li id = "contests"><a class="contests" href="/contests/">Contests<span></span></a></li>
            <li id = "sponsors"><a class="sponsors" href="/sponsors/">Sponsors<span></span></a></li>
          </ul>
          <div class="social">
          <a href="https://www.facebook.com/Vidyut.Multifest" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/vidyutmultifest" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/VidyutMultifest" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UCrtm636yrNotuN7b8cDnMIA" target="_blank"><i class="fab fa-youtube"></i></a> 
        </div>   
        </div>
      	
        <div class="sideNavOverlay talksBG"></div>
        <div class="sideNavOverlay concertsBG"></div>
        <div class="sideNavOverlay masterclassBG"></div>
        <div class="sideNavOverlay workshopsBG"></div>
        <div class="sideNavOverlay contestsBG"></div>
        <div class="sideNavOverlay sponsorsBG"></div>
    </div>

	  <div class = "header">
      <div class = "menuVidyut">
      	<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 948.6667 135.1544"><title>v-text</title><path d="M84.3066,135.2315h-8.1L2.41.2364H33.189L80.3467,86.4532,127.3252.2364h30.7783Z"/><path d="M235.5049,135.2315H208.5063V.2364h26.9986Z"/><path d="M314.7056,135.2315V.2364h49.4975a67.4976,67.4976,0,1,1,0,134.9951Zm49.4975-26.999a40.4986,40.4986,0,1,0,0-80.9971h-22.499v80.9971Z"/><path d="M467.707.2364h31.8584l35.8184,57.2383L571.3828.2364h31.8584L548.8828,86.8135v48.418h-26.998V86.8135Z"/><path d="M768.8389,76.7335a58.4976,58.4976,0,1,1-116.9951,0V.2364h26.999V76.7335a31.4985,31.4985,0,1,0,62.997,0V.2364h26.9991Z"/><path d="M831.8418.2364H948.8379v26.999H903.84V135.2315h-26.999V27.2354h-44.999Z"/></svg>
      </div>
      <div class="menu-button change">
        <div class="bar1"></div><div class="bar2"></div><div class="bar3"></div>
      </div>
      <!-- <div class = "login border-change color-change">Login</div> -->
    </div>

    <div class="workshopContainer">
      
      <span class = "heading">Workshops</span> 
      <!-- <div class = "filter">Deparment</div> -->
      
      <div class = "gridContainer">
      	
      </div>
  	  
  	  <title> Workshops | Vidyut </title>

    </div>
  </body>

  <!-- Scripts -->
    
    <script>
    	
    	$(window).on('load', function(){

        $.getJSON("/events/data/workshops/", function(data){

          console.log(data);
          
          $.each(data, function(key, value) {
            var workshopItem = '<div class = "workshopItem" id = "' + value.id + '"><div style = "background: url(\'/static/images/wtw.jpg\'); background-size: cover; background-position: center;" class = "w-t-image"></div><div class = "w-t-description" style = "padding: 10px 0px 10px"><h1>' + value.title +'</h1><span class = "w-t-d-content">' + value.short +'</span></div></div>';
            $(".gridContainer").append(workshopItem);
          })
          
          $('.workshopItem').click(function(){
            openLoad();
            pageurl = $(this).attr('id');

              $('.header').css('opacity','0');
              $('.header').css('visibility','hidden');

            window.setTimeout(function(){
              $('.workshopContainer').load('/workshops/'+pageurl+'?m=1', function(responseTxt, statusTxt, xhr){
                closeLoad();
              });
            }, 500);

            window.history.pushState(pageurl,pageurl, pageurl);

            $(window).bind('popstate', function(){
              console.log("popstate = " + history.state);
            });           

            });
          });

          var open = "{{open}}"
          if(open == "True"){
            openLoad();
            pageurl = "{{wid}}";

              $('.header').css('opacity','0');
              $('.header').css('visibility','hidden');

            window.setTimeout(function(){
              $('.workshopContainer').load('/workshops/'+pageurl+'?m=1', function(responseTxt, statusTxt, xhr){
                closeLoad();
              });
            }, 500);

            $(window).bind('popstate', function(){
              window.location.href="/workshops/"
            });           
          }
          
        });
		

    	$(document).ready(function(){

        	normal_scroll = false;
        	$('.content-wrapper').css('background-color','#fff');

          $('.login').click(function(){
            console.log("INSIDE LOGIN");
            $.getJSON("/farer/data/user/", function(data){
              console.log("DATA");
              console.log(data);
            })

          });
      });

    </script>
</html>